{% load static %}
{% load toDate %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wallet Search</title>
    <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <script src="{% static 'walletTracker/js/wallet_search_js.js' %}"></script>
    
    <link rel="icon" type="image" href="{% static 'walletTracker/images/favicon.png' %}" >

    <link rel="stylesheet" href="{% static 'walletTracker/css/wallet_search_styles.css' %}">
  </head>
  <body onload="start();">
 
    {% include "wallet/searchbar.html" %}

    <section class="address-section">
      <h2 class="result-address">{{ address }}</h2>
      <div class="update-notification" data-tooltip="New price data available. Refresh for latest data.">
        <span class="notification-icon hidden">🔔</span>
      </div>
    </section>
    <!--Total wallet profit/loss data-->
    <section id="wallet">
      <h2>Wallet statistics</h2>
      <div class="wallet-statistics-container">
        
        <div class="current-wallet-usd-balance">Current USD balance: $<span class="value">{{ wallet_data.wallet_info.wallet_obj.last_calculated_balance_usd }}</span></div>
        <div class="total-wallet-p-l">Total P/L: $<span class="value">{{ wallet_data.wallet_info.wallet_obj.wallet_total_p_l }}</span></div>
        <div class="realized-wallet-p-l">Realized P/L: $<span class="value">{{ wallet_data.wallet_info.wallet_obj.wallet_realized_p_l }}</span></div>
        <div class="amount_spent_for_purchases">Amount Spent (USD): $<span class="value">{{ wallet_data.wallet_info.wallet_obj.amount_spent_for_purchases_usd }}</span></div>
        <div class="amount_received_from_selling">Amount Received from selling (USD): $<span class="value">{{ wallet_data.wallet_info.wallet_obj.amount_received_from_selling }}</span></div>
      
      </div>
    </section>
    <!-- Current Balances and Values -->
    <section id="balances">
      <h2>Wallet Balances</h2>
      <div class="toggle-container">
        <label class="toggle-switch">
            <input type="checkbox" id="toggleBox" onclick="handleHideSmallBalances()">
            <span class="slider"></span>
        </label>
    </div>
      <div class="balance-header">
        <span class="balance-token-symbol">Token</span> 
        <span class="balance-token-balance">Token balance</span> 
        <span class="balance-token-last-checked-price-usd">Last checked token price</span> 
        <span class="balance-usd-value">USD Value</span> 
        <span class="balance-token-p-l">Token P/L</span>
      </div>
      <div class="balance-outer-container" id="balance-outer-container">

        {% for token_data in wallet_data.wallet_info.wallet_balances %}
        <div class="{% if forloop.counter > 10 %}hidden to-be-hidden{% endif %} balance-container"
          id="balance-{{ token_data.token.contract }}">
          <div class="balance-token-container">
            {% if token_data.token.token_image_url != None %}
            <img src="{{ token_data.token.token_image_url }}" alt="" class="balance-token-icon">
            
            
            {% endif %}
            <div class="balance-token-symbol">{{ token_data.token.token_symbol }}</div>
          </div>
          <span class="balance-token-balance">{{ token_data.balance|floatformat:-10 }}</span> 
          <span class="balance-token-last-checked-price-usd">${{ token_data.token.decimal_price|floatformat:-15 }}</span> 
          <span class="balance-usd-value">
            {% if token_data.last_calculated_balance_usd != None %}
            ${{ token_data.last_calculated_balance_usd }}
            {% endif %}
          </span> 
            <span class="balance-token-p-l">
            {% if token_data.token_total_p_l != None %}
            ${{ token_data.token_total_p_l }}
            {% endif %}
          </span>
        </div>
        {% endfor %}
      </div>
      <button onclick="handleShowAllItems()">Show All</button>
    </section>
    <!-- Transactions -->
    <section id="transactions">
      <h2>Transaction History</h2>
      <div id="wallet-transactions-container">
      {% for transaction in wallet_data.wallet_info.wallet_transactions %}
        <div id="transaction-{{ transaction.hash }}" class="transaction-container">
          <span class="transaction-timestamp">{{ transaction.timestamp|toDate }}</span>
          {% if transaction.sent_amount %}
            <div>
              <span class="transaction-sent-amount">-{{ transaction.sent_amount }}</span>
              {{ transaction.sent_token.token_symbol }}
            </div>
          {% endif %}
          {% if transaction.received_amount %}
            <div>
              <span class="transaction-received-amount">+{{ transaction.received_amount }}</span>
              {{ transaction.received_token.token_symbol }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      </div>

      <button class="expandTransactions" onclick="location.href = '{% url 'transactions list' wallet_address=address %}'">Expand</button>
    </section>
    <!-- Total P/L -->
    <script>
        const queriedAddress = '{{ address|escapejs }}'
        const walletDataStatus = '{{ wallet_data.data_status|escapejs }}'
    </script>
  </body>
</html>
