.txElement {
    background-color: #c72121;
}


body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #aad3e6;
}

section {
    margin-bottom: 40px;
}

.balance-container,
.transaction-container {
    background-color: #1e1e1e;
    border-radius: 8px;
    margin-bottom: 10px;
    display: grid;

    grid-column-gap: 10px;

}

.balance-container,
.balance-header {
    grid-template-columns: repeat(5, 1fr);
}

.balance-header {
    display: grid;
    grid-column-gap: 10px;
}

.transaction-container {
    grid-template-columns: repeat(3, 1fr);
}

.balance-token-symbol,
.balance-token-balance,
.balance-usd-value,
.balance-token-p-l,
.balance-token-last-checked-price-usd,
.transaction-timestamp,
.transaction-sent-amount,
.transaction-received-amount,
.transaction-sent-token,
.transaction-received-token,
.balance-token-container {
    display: inline-flex;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.transaction-sent-amount {
    color: #ff6b6b;
}

.transaction-received-amount {
    color: #4caf50;
}

@media (max-width: 768px) {

    .balance-container,
    .transaction-container {
        flex-direction: column;
    }
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hidden {
    display: none;
}

button:hover {
    background-color: #555;
}


a {
    color: inherit;
    text-decoration: none;
}

.transaction-sent-amount+.transaction-received-amount {
    margin-left: auto;
}


.result-address {
    color: #f0b90b;
    margin-bottom: 20px;
    display: block;
}

.balance-token-icon {
    height: 50%;
}
.wallet-statistics-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}


.current-wallet-usd-balance,
.total-wallet-p-l,
.realized-wallet-p-l,
.unrealized-wallet-p-l,
.amount_spent_for_purchases,
.amount_received_from_selling {
    background-color: #262626;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #d1d1d1;
}

@media (max-width: 768px) {

    .current-wallet-usd-balance,
    .total-wallet-p-l,
    .realized-wallet-p-l,
    .unrealized-wallet-p-l,
    .amount_spent_for_purchases,
    .amount_received_from_selling  {
        margin: 8px;
    }
}


/* hide small balances toggle */

.toggle-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}